html { /*  https://css-pattern.com/ fondos bellos */
    --s: 82px; /* control the size */
    --c1: #b2b2b2;
    --c2: #ffffff;
    --c3: #d9d9d9;
    
    --_g: var(--c3) 0 120deg,#0000 0;
    background:
      conic-gradient(from -60deg at 50% calc(100%/3),var(--_g)),
      conic-gradient(from 120deg at 50% calc(200%/3),var(--_g)),
      conic-gradient(from  60deg at calc(200%/3),var(--c3) 60deg,var(--c2) 0 120deg,#0000 0),
      conic-gradient(from 180deg at calc(100%/3),var(--c1) 60deg,var(--_g)),
      linear-gradient(90deg,var(--c1)   calc(100%/6),var(--c2) 0 50%,
                            var(--c1) 0 calc(500%/6),var(--c2) 0);
    background-size: calc(1.732*var(--s)) var(--s);
  }
  
  
  body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    font-size: larger;
  }

  .imagen{
    /*
    width: 200px;
    height: 100px;
    */
  }
  
  .form-container{
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 50px
  }
  
  
  form{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  form+p, form p {
    text-align: center;
  }
  
  input, button{
    border-radius: 4px;
    border: unset;
    padding: 15px 30px;
    font-size: larger;
  }
  
  button{
    background-color: #6495ed;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .error{
    color: rgb(255, 81, 81);
  }
  
  .escondido{
    display: none;
  }
  
  .sr-only{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }